body {
}
.welcome
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:25%;
    margin-top:5%;
    font-weight:900;
}
.content
{
    font-weight:600;
}