body {
}
.form-control
{
    width:;
    
}
.adults
{
    border-radius:4px;
    border:1px solid #ccc;
    width:;
    height:34px;
    text-align:center;

}
.row1
{
    margin-top:50px;
}
.row2
{
    margin-top:20px;
    margin-bottom:20px;
}
.searchbtn
{
    color: white;
    font-size: 13px;
    font-weight: bold;
    background: #00cc99;
    border-radius: 3px;
    border: none;
    outline: none !important;
    width:150px;
    height: 35px;
    margin-left:120px;
    
}
.searchbtn:hover
{
    background-color:#009973; 
}
