
body {
}
.row1{
    
   // margin-left:40px;
    //margin-top:145px;
   
    
}
.row1>.col-md-4{
   
    height:300px;
      
}
.row2{
   
    height:300px;
      margin-top:20px;
}
.row3 {
    height: 300px;
    margin-top: 20px;
}
.img1{
        width:355px;
       height:236px;

}
/*.img1:hover{
     width:356px;
       height:248px;
    
}*/

.parent {
    //width: 355px;
    margin: 20px;
    height: 236px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius:10px;
}
.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

.row1>.col-md-4>.parent>.child>a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
   text-decoration: none;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
    
}

.parent:hover .row1>.col-md-4>a.parent>.child>a, .parent:focus .row1>.col-md-4>a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(52, 73, 94, 0.52);
}