body {
}

.reserve
{
    
    border:1px solid grey;
    border-radius:5px; 
    background-color:red;
    color:white;
    width:180px;
    height:50px;
    margin-left:550px;
}
.reserve:hover
{
    background-color: #ff8080;
}
.textboxes
{
    margin-top:30px;
}