body {
    margin: 0px;
    padding: 0px;
}
.main-wrapper{
         
               height:auto;
               width:100%;
               
}



.row.header{
         background-color:#fff;
         height:140px;
         margin-top:0px;
         position:fixed;
         box-shadow:1px 1px 5px silver;
         
}
.logo {
   // background-color: gray;
    height: 100px;
    font-size:25px;
    padding-top: 40px;
    direction: rtl;
    margin-top:20px;
}
.nav-bar{
        // background-color:aqua;
         height:100px;
         margin-top:20px;        
}
.navbar{
   margin-left:200px;
    font-size:18px;
    margin-top:30px;
} 
 .btnbook{
    height:100px;   
    margin-top:10px;
   // background-color:red;
}
 
.row.slider{
        background-color:;
        height:550px;
      
        
}
.container-fluidd{ 
           background-color:#fff;
           height:auto;
           margin-top:20px;
                padding-right: -15px; 
    padding-left: -15px; 

           
}
.footer{
        background-color:#333;
        height:450px;
        margin-top:10px;
        margin-bottom:0px;
                  

        
}

.footer-bottom{
             border-top: 1px solid #444444;
             height:30px;
             margin-left:150px;
             margin-right:150px;             
}
.footer-bottom>.col-sm-7{
             //background-color:green;
            height:30px;
            margin-top:50px;
}
.footer-bottom>.col-sm-5{
            // background-color:palevioletred;
             height:30px;
            margin-top:50px; 
}
.copyright-menu   {
    list-style: none;
    display:inline-block;
      float: right;
 
}
.copyright-menu>li {
    display:inline-block;
    margin-left:10px;
   
   
}
.copyright-menu > li a{
     
         font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.86;
    text-decoration:none;
    text-align: right;
    color: #7b7b7b;
   border-left: 1px solid #7b7b7b;
    padding: 0px 11px;
    transition: all 0.5s;
    }
    .copyright-menu li:first-child a {
        border-left: none;
    }
.copyright-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.86;
    text-align:left;
    color: #7b7b7b;
   
}
.footer-header>.col-sm-3>h3{
       font-family:"Cinzel Decorative";
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #b0914f;
    
}

.col1{
    //background:red;
    height:300px;
}
.col1>ul{
    list-style-type:none;
    margin-top:39px;
}
.col1>ul>li{
    
    margin-top:10px; 
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    text-align: left;
    color: #aeaeae;
}
.col2{
   
    height:300px;
}
.col2>ul{
    list-style-type:none;
    margin-top:39px;
}
.col2>ul>li a{
    
    margin-top:10px;
       font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.57;
    text-align: left;
    color: #aeaeae;
    text-decoration:none;
}
    .col2  ul  li i {
        margin-right: 8px;
        margin-left:80px;
    }
    .col2 > ul > li a:hover {
         color:red;    
    }

.col3{
    //background:black;
    height:300px;
}
.col3>ul{
    list-style-type:none;
    margin-top:39px;
}
.col3>ul>li a{
     
    margin-top:10px;
        font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration:none;
    line-height: 2.57;
    text-align: left;
    color: #aeaeae;
}
.col3 > ul > li a:hover {
         color:red;    
    }
.col3  ul  li i {
        margin-right: 8px;
    }
.col4{
   // background:red;
    height:300px;
}
.col44{
    
    margin-top:39px;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.facebook>a{
    //background-color:red;
    height:35px;
    font-size:16px;
    width:35px;
    border-radius:50%;
    color:#999;
    border:1px solid #999;
    text-align:center;
    float:left;
    margin-left:10px;
}

.facebook:hover,.facebook>a:hover{
    color:#000;
    border-color:#000;
}

#TextBox1{
    outline:none;
    box-shadow:none;
    border-right:none;
    height:50px;
}
.heading{
    font-size: 60px;
    font-family: "Playfair Display", times, serif;
    font-weight: 700;
}

.mb-4{
    margin-bottom: 1.5rem!important;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.8;
    color: #6c757d;
}

.learnbtn{
    background-color: #ffaa34;border-color:#ffa527;border-radius:50px;padding-top: 12px;
    padding-bottom: 12px;color:#fff;
padding-left: 30px; padding-right: 30px;opacity:0.8;font-family: Roboto, arial, sans-serif;font-weight: 200;font-size: 16px;line-height: 1.8;
}
.learnbtn:hover{
    color:#fff;
    opacity:1;
    text-decoration:none;
}
/*.icon_box_icon 
{
background:black;
    width: 70px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
   
}*/
.icon_box_icon {
    width: 82px;
    height: 82px;
    margin-left:140px;
   
}
.icon_box_icon svg {
    max-width: 100%;
    max-height: 100%;
}

.icon_box_icon:hover .svg path, .icon_box_icon:hover .svg rect, .icon_box_icon:hover .svg polygon {
    fill: #ffa37b;
    
}
svg:not(:root){
    overflow: hidden;
    vertical-align: middle;
}

.icon_box_title{
    margin-top:16px;
    text-align:center;
}
.icon_box_title h2{
        font-family: 'Alike', sans-serif;
        font-size: 30px;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
        line-height: 1.2;
        color: #2e3f61;
        text-align:center;
}
.icon_box_text {
    margin-top: 23px;
    text-align:center
}
.icon_box_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 500;
    color: #717171;
}
.row11{
 
}
.row11>.col-md-3{
    
    
    padding:0px;
}
.img11{
        width:380px;
       height:450px;

}

.parentt {
    width:100%;
    margin:0px;
    height: 450px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}
.childd {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

.m1 {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
   text-decoration: none;
}

.parentt:hover .childd, .parentt:focus .childd {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    
}

.parentt:hover .childd:before, .parentt:focus .childd:before {
    display: block;
    
}

.parentt:hover .m1, .parentt:focus .m1 {
    display: block;
}

.childd:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(52, 73, 94, 0.22);
}

